---
import type { NodeByUri } from '../types';

const { node } = Astro.props as { node: NodeByUri };
---

<div class="flex flex-col lg:flex-row">
  <article class="flex flex-col p-10 prose lg:prose-xl" set:html={node.content}>
    <h1>{node.title}</h1>
    <!-- set:html content -->
  </article>
  <aside class="flex flex-col p-10">
    <div class="mb-5 text-2xl font-bold"><h3>{node.title}</h3></div>
  </aside>
</div>