---
import type { NodeByUri } from '../types';

const { node } = Astro.props as { node: NodeByUri };
---

<div class="flex flex-col">
    <h1>{node.title}</h1>
    <!-- archive (posts of tag) -->
</div>