---
import { Picture } from 'astro:assets';

interface Props {
  name: string,
  description: string,
  avatarUrl: string,
};

const { name, description, avatarUrl }: Partial<Props> = Astro.props;
---

<div class="not-prose flex flex-col mb-8">
    <header class="relative flex flex-col md:flex-row justify-between mb-8 md:pr-5">
        <h3 class="p-2 md:p-0 md:mb-4 font-semibold text-2xl text-theme-800 dark:text-theme-200 border-b-2 border-theme-300 dark:border-theme-700 md:border-transparent md:dark:border-transparent">Author</h3>
        <div class="absolute bottom-0 -z-40 block w-full border-b-2 border-theme-300 dark:border-theme-700" aria-hidden="true"></div>
    </header>

    <div class="flex gap-4">
      <div class="flex items-start min-w-16">
        <Picture
          src={avatarUrl}
          widths={[64]}
          sizes={`64px`}
          inferSize
          format="webp"
          class="h-full w-full object-cover"
          alt=`${name}'s avatar`
        />
      </div>

      <div class="flex flex-col gap-2">
        <h4 class="m-0 text-base font-semibold text-theme-800 dark:text-theme-200">{name}</h4>
        <p class="text-sm text-theme-800 dark:text-theme-200">{description}</p>
      </div>

    </div>
</div>