---
import { globalSiteDescription } from "../../consts";
import SocialLinks from "./SocialLinks.astro";
---

<footer class="relative flex flex-col md:flex-row items-center justify-between gap-4 pt-4 pb-8">
  <div class="absolute top-0 -z-40 block w-full border-t-2 border-theme-300 dark:border-theme-700"></div>
  <span class="inline-flex px-4 text-center text-theme-800 dark:text-theme-200">
    {globalSiteDescription}
  </span>
  <SocialLinks />
</footer>
