---
import SocialLinks from "./SocialLinks.astro";
import { getDescription } from "../../utils/gqlSettings";

const { description } = await getDescription();
---

<footer class="relative flex flex-col md:flex-row items-center justify-between gap-4 py-4">
  <div class="absolute top-0 -z-40 block w-full border-t-2 border-gray-200 dark:border-gray-700"></div>
  <span class="inline-flex px-4 text-gray-700 dark:text-gray-200">
    {description}
  </span>
  <SocialLinks />
</footer>
