---
import MetaData from '../components/metadata/MetaData.astro';
import Header from '../components/header/Header.astro';
import Footer from '../components/footer/Footer.astro';
import type { NodeByUri } from '../types';

// isn't 1:1 with the node title and description as it's via Yoast
const { title, description }: Partial<NodeByUri> = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <MetaData title={title} description={description} />
  </head>

  <body>
    <Header />
    <main class="container">
      <slot />
    </main>
    <Footer />
  </body>
</html>
