---
import Metadata from '../components/Metadata.astro';
import Header from '../components/header/Header.astro';
import Footer from '../components/footer/Footer.astro';
import type { YoastSEO } from '../types.ts';

const { title, metaDesc } : Partial<YoastSEO> = Astro.props;
---

<!doctype html>
<html
  lang="en"
  x-data="{
    darkMode: false, 
    init() {
      if (localStorage.getItem('darkMode')) {
        this.darkMode = JSON.parse(localStorage.getItem('darkMode'));
      }
      else {
        this.darkMode = window.matchMedia('(prefers-color-scheme: dark)').matches;
      }

      document.documentElement.classList.toggle('dark', this.darkMode);
    },
    toggleDarkMode() {
      this.darkMode = !this.darkMode;
      document.documentElement.classList.toggle('dark', this.darkMode);
      localStorage.setItem('darkMode', JSON.stringify(this.darkMode));
    }
  }"
  x-init="init"
>
  <head>
    <Metadata title={title} metaDesc={metaDesc} />
  </head>

  <body class="bg-white dark:bg-black m-auto max-w-7xl">
    <Header />
    <main class="prose dark:prose-invert m-auto px-4 max-w-7xl xl:px-0">
      <slot />
    </main>
    <Footer />
  </body>
</html>
