---
import IconArrowRight from "../icons/IconArrowRight.astro";

interface Props {
  url: string | undefined,
  text: string | undefined,
  icon: boolean | undefined,
};

const { url, text, icon }: Partial<Props> = Astro.props;
---

<a href=`${url}` class="group/btn flex gap-2 justify-center items-center p-2 text-theme-800 hover:text-theme-900 dark:text-theme-200 dark:hover:text-theme-100 border-transparent border-b-2 hover:border-theme-900 dark:hover:border-theme-100 transition duration-300">
  <span class="font-medium">
    {text}
  </span>
  { icon ? (
    <IconArrowRight
      height={21}
      width={21}
      classes="group-hover/btn:-rotate-45 transition duration-300"
    />
  ) : '' }
</div>
